{% import 'macros/form.html' as f with context %}

{% if request.endpoint.endswith('new') %}
    {% set endpoint = 'admin.post_new' %}
    {% set form_kwargs = {} %}
    {% set legend = 'Add a new post' %}
    {% set button = 'Add' %}

    {% else %}
        {% set endpoint = 'admin.post_edit' %}
        {% set form_kwargs = {'id': post.id} %}
        {% set legend = 'Update this Post' %}
        {% set button = 'Save' %}
{% endif %}

<div class="row col-md-12">
    <div class="row justify-content-md-center col-md-12 ">

    {% call f.form_tag(endpoint, **form_kwargs) %}
        <legend> {{legend }}</legend>
        {% if post is defined %}
        <div class="form-group">
            <label class="control-label"><strong> Author </strong></label>
            <p class="sm-margin-bottom form-control-static">
                {{post.author_p.username}}
            </p>
        </div>
        {% endif %}

    </div>
     
    <div class="row justify-content-md-center col-md-12 ">

    {% call f.form_group(form.title , css_class='css_class= row col-md-12' , autofocus = 'autofocus') %}
    {% endcall %}
    </div>

    <div class="row justify-content-md-center col-md-12 ">

    {% call f.form_group(form.body , css_class='row col-md-12' , autofocus = 'autofocus') %}
    {% endcall %}
    </div>
    
    
    <div class='row col-md-12'>
        <div class="col-md-6 justify-content-md-center">
            <button type="submit" class='btn btn-primary btn-block'>
                {{ button }}
            </button>
        </div>
        <div class="col-md-6">
            <div class="visible-xs visible-sm sm-margin-top">
                <a href="{{ url_for('admin.users') }}"
                        class="btn btn-default btn-block">
                       Cancel
                </a>
            </div>
        </div>
    </div>


    {% endcall %}
</div>

