{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}


{% block title %} Sign up for a new account {% endblock %}


{% block body %}




<div class="col-md-5 well">
    {% call f.form_tag('users.signup') %}

    <legend> Sign up today</legend>

     {% call f.form_group(form.email, css_class='sm-margin-bottom' , placeholder="Email Address" ) %}
    {% endcall %}

    {% call f.form_group(form.username, css_class='sm-margin-bottom' , placeholder= 'username' ) %}
    {% endcall %}

     {% call f.form_group(form.password, css_class='sm-margin-bottom') %} 
    {% endcall %}

    {% call f.form_group(form.pass_conf , css_class='sm-margin-bottom') %} 
    {% endcall %}

    <div class="row">
        <div class="col-md-6" >

            <button type="submit" class="btn btn-primary btn-block">
                    Register
            </button>

        </div>

        <div class="col-md-6" >

            <div class="visible-xs visble-sm sm-margin-top"></div>
            <a href="{{ url_for('users.login') }}"

                class="btn btn-default btn-block">
                    Sign In           
                </a>

        </div>

    </div>

{% endcall %}
 </div>



{% endblock %}