{% extends 'layouts/app.html' %}
{% import 'macros/users.html' as account %}
{% import 'macros/role.html'  as role %}
{% import 'macros/form.html' as f with context %}
{% import 'macros/items.html' as items %}


{% block title %} Admin - User / List {% endblock %}

{% block body %}

    {{ f.search('admin.users')}}

    {% if users.total == 0 %}
        <h3> No results found</h3>
        {% if request.args.get('q') %}
            <p> Try limiting or removing search terms.</p>
        {% else %}
            <p> There are no users present, you ..  </p> 
        {% endif %}
    {% else %}
        {% call f.form_tag('users.signup') %}    
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>
                    <label for="select_all"></label>
                    <input id="select_all" name="select_all" type="checkbox">
                    </th>
                    
                    <th class="col_header">

                        "name ^-"
                    </th>

                    <th class="col_header">


                        "Priviledge"
                
                    </th>

                    <th id="bulk_actions" colspan="2">
                        <div class="form_inline">
                            {{ f.field(bulk_form.scope, inline=True)}}
                            <button type="submit"
                                class="btn btn-danger btn-sm">
                                Delete items
                            </button>

                    </th>
                    

                </tr>
            </thead>

            <tbody>
                {% for user in users.items %}
                <tr>
                    <td>
                        <label for="bulk_ids"></label>
                        <input class="checkbox-item" id="bulk_ids" name="bulk_ids"
                                type="checkbox" value="{{ user.id }}">
                    </td>
                    <td>
                        <div class="pull-left">
                        {{ account.role_icon_for(user)}}
                        </div>
                        <h4 class="media-heading"> {{ user.username }} </h4>

                        <p class="text-muted"> {{user.email}}</p>
                    </td>

                    <td>
                        {{ role.role_name(user) }}
                    </td>
                </tr>

                {% endfor %}
            </tbody>

        </table>
    
        {% endcall %}

    {{ items.paginate(users)}}

    {% endif %}
        




{% endblock %}