

/* ADMIN dashboard 
_________________________________*/

li.disabled {
    /* make the disbled link grayish */
    color: gray;
    /* diabled the pointer events */
    pointer-events: none;
}

th#bulk_actions {
    display: none;
    padding-bottom: 8px;
}

#scope {
    margin-bottom: 0;
    width: 160 px;
    height : 29 px;
    font-weight: 400;
    font-size: 12px;
}

/* SINGLE POST 
_________________________*/
div.byline {
 margin-top: 16px;
 margin-bottom: 16px;
 padding-bottom: 4px;
 border-bottom: 1px solid #ccc;
}

#post .body {
    margin-bottom: 20px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.comment {
    margin-bottom:16px ;
}