{% extends "layouts/app.html" %}

{% block title %}
    Purpose Life
{% endblock %}


{% block body %}
<section id="services" class="container">
    <div class="row text-center">
       <div class="col-md-4 mb-4">
          <div class="card h-100">
             <img class="card-img-top" src="../static/resize_core.png" alt="Learn">
             <div class="card-body">
                <h4 class="card-title">Start from inside</h4>
                <p class="card-text lead"> Discover and highlight your own core values and personality</p>
                <p class="card-text lead"> Know yourself</p>

             </div>
          </div>
       </div>
       
       <div class="col-md-4 mb-4">
          <div class="card h-100">
             <img class="card-img-top" src="../static/resize_scroll.png" alt="Manage">
             <div class="card-body">
                <h4 class="card-title"> Make it your own </h4>
                   <p class="card-text lead">  Internalize and summarize core values in a mission statement
                   </p>
             </div>
          </div>
       </div>
       
       <div class="col-md-4 mb-4">
          <div class="card h-100">
             <img class="card-img-top" src="../static/resize_apply.png" alt="Transaction">
             <div class="card-body">
                <h4 class="card-title">  Apply it in life   </h4>
                <p class="card-text lead">  Become a guiding principle in getting what you want out of life  </p>
             </div>
          </div>
       </div>
    </div>
 </section>



 
 <div  class="container-fluid">
   <p class="lead text-center"> You don't need to go to long trips , you just neeed to define yourself from the inside out </p>
 </div>
    <!-- <ul>
       <li> Time  alone to think</li>
       <li> Writing utensil or keyboard </li>
       <li> paper or screen </li>
       <li> Thought provoking questions</li>
    </ul>-->



<div class="container">
<div class="row h-100">
  <div class="col-sm-12 align-self-center"></div>
  <div class="card card-block w-50 mx-auto">
     <h3 class = "card-title text-center"> Things Needed: </h3>
    <ul class = "card-text lead">
      <li class = "card-text lead">Time alone to Think </li>
      <li> Writing utensil or keyboard</li>
      <li>Paper or screen </li>
      <li>Thought Provoking Question</li>
      <ol> 
        <li>what is important in my life? </li>
         <li>What inspires you? </li>
         <li>Things necessary for sucess? </li>
         <li>What brings you joy? </li>
         <li> What do you value?</li>

      </ol>
      <li> Keep it in a safe place for casual reminders</li>

      <li> <a href="https://www.developgoodhabits.com/personal-mission-statement/ "> Resource  Website</a> </li>
      <li> <a href="https://www.viacharacter.org/character-strengths"> Character Survey </a> </li>
    </ul>
  </div>
  <div class="col-xs-4"></div>
</div>
</div>
   



<div class=" container mt-2" >
 <h3 class = "text-center "> Benefits:</h3>
</div>


 <div class="container">
  <div class="row h-100">
    <div class="col-sm-12 align-self-center"></div>
    <div class="card card-block w-50 mx-auto">
      <ul class = "card-text lead">
        <li>Focus on what is important to you </li>
        <li>Set and accomplish goals</li>
        <li>Gain greater awareness of life</li>
        <li>Greater confidence in self</li>
      </ul>
    </div>
    <div class="col-xs-4"></div>
  </div>
</div>






<section class="container-fluid text-center py-4 mt-4" id="contact">
 <h2 class="display-4 pb-4 my-4"> Practical life advise</h2>
      <a href="#" class="btn btn-primary btn-lg mb-4" role="button">check out blog</a>
      
</section>


<section class="container-fluid text-center py-4 mt-4" id="contact">
<h4 class="display-4 pb-4 my-4"> Check out book that I'm working</h4>
<div  class="container-fluid">
<p class="lead text-center"> It's a book about changing your habits  </p>
</div> 

<a href="#" class="btn btn-primary btn-lg mb-4" role="button"> changing Habit book</a>
</section>

<footer>
  <a href ="https://my.logomakr.com">  Logos by logomakr  </a>
</footer> 




{% endblock %}
