{% extends 'layouts/app.html' %}

{% import 'macros/form.html' as f with context %}

{% block title %} Post / single {% endblock %}

{% block body %}

<div class="container">

    <div class="title">
        <h2> {{post.title}}</h2>
    </div>

    <div class="body">
        <p  class="lead mb-4" > {{post.body}} </p>
    </div>

    <div class="timestamp">
        <span> Posted on: <time class="short-date" data-datetime="{{ post.timestamp.strftime('%Y-%m-%dT%H:%M:%S Z') }}">
        </time>  
        </span>

        <span style="float: right"> Written by: {{post.author_p.username }} </span>

    </div>


    {% if current_user.is_admin %}

    <div class='row col-md-12'>
        <div class="col-md-6 justify-content-md-center">
            <a href = "{{ url_for('admin.post_edit' , id = post.id) }}" > 
                <button type="button" class="btn btn-primary">Edit</button> 
            </a>
        </div>
        <div class="col-md-6">
            <div class="visible-xs visible-sm sm-margin-top">
                <a href=" {{ url_for( 'admin.post_delete' , post_id = post.id ) }}"
                        class="btn btn-danger ">
                        delete
                </a>
            </div>
        </div>
    </div>

    {% endif %}

    <h4  style="text-align: right" ><a name="comments"></a> {{ comments.total }} comments</h4>

    {% for comment in  comments.items %}
    <div class="card" >
        <div class="card-body">
            <div class="comment-body">
                <p>
                    <span class="label label-default text-muted ">#{{comment.user_id}}</span> <span style="font-weight: bold;" class="label label-primary"> {{comment.author_c.username}}</span> said
                    <span>
                        <time class="from-now" data-datetime="{{ post.timestamp.strftime('%Y-%m-%dT%H:%M:%S Z') }}">
                            {{post.timestamp}}
                        </time> 
                    </span>
                </p>
            </div>

          <p class="card-text"> {{comment.text}} </p>

        </div>
      </div>
    {% endfor %}


    {% if current_user.is_authenticated %}

    {% call f.form_tag('post.single_post', post_id = post.id) %}

    {% call f.form_group (form.text) %}
    {% endcall %}

    {% call f.form_group (form.submit) %}
    {% endcall %}

    {% endcall %}


    {% else %}
      <p> Please <a href=" {{ url_for('users.login') }}"> Login</a> to Add Comment </p>

    {% endif %}
 

</div>













{% endblock %}
    


